<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSERCytgK1lH4zdWaE2Xlqnuxs4x0bUKE</string>
	<key>GCM_SENDER_ID</key>
	<string>760875441926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.porscheclubjordan.app</string>
	<key>PROJECT_ID</key>
	<string>porsche-club-jordan</string>
	<key>STORAGE_BUCKET</key>
	<string>porsche-club-jordan.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760875441926:ios:d67b94688887d802f6c887</string>
</dict>
</plist>